.productCardButton {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #cba897;
  color: #e9e9e9;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  align-items: center;
}

.productCardButton:hover {
  background-color: #dbbcad;
  box-shadow: 0 0 20px #bdaca4;
  transform: scale(1.1);
}

.productCardButton:active {
  background-color: #ebd3c7;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
