.ProductCard-container {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    transition: 0.5s all;
    box-shadow: #485563;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines */

    justify-content: center; /* Centers items horizontally */
    margin-bottom: 20px;

    background-color: #FEF4E5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    height: 50px;
    width: 50px;

    
}

.ProductCard-item {
    margin: 0 10px 20px; /* Adjusts margin around each item */
    flex: 0 0 calc(33.33% - 20px); /* Sets each item to be 33.33% wide with margins included */
    background-color: #FEF4E5;


}


.ProductCard-item:last-child {
    margin-right: 0;
}

.ProductCard-item img {
    width: 300px;  
    height: 300px; 
    background-color: #FEF4E5;
    margin-left: 180px;

}
.ProductCard-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 768px) {
    .ProductCard-item {
        flex-basis: calc(50% - 20px); /* Sets each item to be 50% wide with margins included */
    }
}

/* Media query for even smaller screens */
@media (max-width: 576px) {
    .ProductCard-item {
        flex-basis: calc(100% - 20px); 
    }
}
